.logo{
    height: 80px;
    width: 7%;
    position: relative;
    left:10%;
}
.upper_border{
    border-style: solid;
    border-color: #3d7bd9;
    border-top: thick;
}
.ISTE_NAME{
    position:relative;
    top:-70px;
    left:18%;
    font-size:40px;
    color: #1a395f;
}
.nav{

    background: transparent;
}
.main_nav{
    position:relative;
    top: -35px;
    left: 8%;
}
