.logo{
    height: 80px;
    width: 7%;
    position: relative;
    left:10%;
}
.upper_border{
    border-style: solid;
    border-color: #3d7bd9;
    border-top: thick;
}
.ISTE_NAME{
    position:relative;
    top:-68px;
    left:18%;
    font-size:45px;
    color: #1a395f;
}
.nav{

    background: transparent;
}
.main_nav{
    position:relative;
    top: -35px;
    left: 10%;
}
.navbar-default .navbar-nav > li.dropdown:hover > a,
.navbar-default .navbar-nav > li.dropdown:hover > a:hover,
.navbar-default .navbar-nav > li.dropdown:hover > a:focus {
    background-color: rgb(231, 231, 231);
    color: rgb(85, 85, 85);
}
li.dropdown:hover > .dropdown-menu {
    display: block;
}
.slider{
    position: relative;
    left:10%;
    top:-40px;
}
.main{
    position: relative;
    left: 70px;
}
